/*fontit*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Slabo+27px&display=swap');

/* SIVUN "VARTALO"*/
body { 
    position: relative; 
    background-color: #8f7e51;
}

h1{
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
}


/* NAVIGAATIO */
/* navin taustan väri */
.navbar-custom {
    background-color:#8f7e51;
}

/* brandin ja tekstin väri */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
}

/* linkit */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-link.active {
    color:#372e16 !important;
}

/*navin hover*/
.navbar .nav-link:hover{
    color:#e7d887;
}

/*dropdown valikko*/
.nav-item .dropdown-menu a:hover {
    color: white !important;
    background: #8f7e51 !important;
    cursor: pointer;
}

/*hamburger valikko*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.custom-toggler.navbar-toggler {
    border-color:#372e16;
}

/*KARUSELLI*/


.carousel-item img {
    object-fit: cover; /* Säilyttää kuvan mittasuhteet, mutta rajaa tarvittaessa */
    height: 100%; /* Mukautuu karusellin korkeuteen */
    width: 100%; /* Säilyttää leveyden */
}
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
    height: 650px;
}

.carousel-caption{
    color:#ffffff;
}

/*AUKIOLOAJAt*/
#kahvila {
    padding-top: 70px;
    padding-bottom: 70px;

}

#pyoristettykuva {
    width: 100%;          
    max-width: 500px;     
    border-radius: 30% 0 30% 0; 
}
#pyoristettykuva2 {
    width: 100%;           
    max-width: 500px;     
    border-radius: 30% 0 30% 0; 
}

/*KUVAT*/
.card img {
    height: 200px;
    width: 100%; 
    object-fit: cover; 
}

/*lomake*/
label.muoto{
    display:inline-block;  
    width:6em;                        
    vertical-align: top;
} 

/*#otaYhteyttaLomake{
    display:flex;  
    justify-content: center;
    align-content: center;
    width:100%;                        
    text-align:left; 
    vertical-align: top;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 70px;
    padding: 70px;
    background-color:#8f7e51;
    padding: 30px;
    border-radius: 10px; 
    box-sizing: border-box; 
    resize: vertical 
}*/

#otaYhteyttaLomake {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px; 
    background-color: #8f7e51;
    border-radius: 10px;
    box-sizing: border-box;
}



/*input[type=submit] {
    background-color:#766a57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  */

  input[type="text"], input[type="email"], input[type="tel"], textarea, select {
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
}

    input[type=submit]:hover {
    background-color:#372e16;
  }

  
    input[type=reset] {
    background-color: #766a57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    input[type=reset]:hover {
    background-color: #372e16
}


::placeholder {
    color:#766a57;
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color:#766a57;
  }

/*haitarimalli*/
.accordion-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ffffff;
    color: #766a57;
  }

  .accordion-button{
    background-color:#ffffff; 
    color: #766a57;
  }
  
  .accordion-img {
    height: 400px;
    margin: 10px;
    width: 40%;
    object-fit: cover;
  }

  .accordion-text {
    text-align: center;
    margin: 10;
    font-size: 16px;
  }

#kortit{
    margin-top: 50px;
}

#accordionExample{
    margin-top: 100px;
    margin-bottom: 70px;

}

/*videot*/
#videoTabs{
    margin-top: 50px;
    max-width: 900px; /* Määritä haluamasi maksimileveys */
    margin: 0 auto;   /* Keskittää videon */
}

.tab-content {
    max-width: 900px; /* Määritä haluamasi maksimileveys */
    margin: 0 auto;   /* Keskittää videon */
  }
  
  .ratio {
    width: 100%;      /* Pidä leveys skaalautuvana */
  }

#video1-tab, #video2-tab, #video3-tab{
    color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    input[type="submit"], input[type="reset"] {
        font-size: 1em;
        padding: 8px;
    }
    label, input, textarea {
        font-size: 1em;
    }
}
